server:
  error:
    include-stacktrace: on_param

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/security_db?createDatabaseIfNotExist=true
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true


logging:
  level:
    org:
      hibernate:
        SQL: DEBUG


application:
  security:
    jwt:
      secret-key: 34b75395fabdc2931aa35cacba5cda8f50d0bd19b9fa9749ef9ab0459979db72
      expiration: 86400000
      refresh-expiration: 604800000
